#personal_details span, #personal_details div{
	float:left;
}

#personal_details .form-item-nom, #personal_details .form-item-prenom{
	width:115px;
}

#edit-nom, #edit-prenom{
	width:100px;
}

#personal_details .form-item-age{
	width:50px;
}

#edit-age{
	width:35px;
}

#personal_details span{
	margin-right:5px;
	padding-top:5px;
}